<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./asset/img/icon/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./asset/css/sel_as_n_goal.css">
    <link rel="stylesheet" href="./asset/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Export Self Assessment Result</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="./asset/img/icon/logo.png" width="29px" height="25px" alt="">
            <img src="./asset/img/icon/heading_logo.png" height="25px" alt="">
        </div>  
        <div class="user">
            <img src="./asset/img/image/user.png" width="120px" height="120px" alt="">
            <p class="user-title">job title</p>
            <p class="user-id">employee ID</p>
        </div>
        <div class="main-func">
            <a href="index.html"><i class="fa-solid fa-house"></i>dash board</a>
            <a href="#"><i class="fa-solid fa-circle-info"></i>information</a>
            <a href="#"><i class="fa-solid fa-arrow-right-arrow-left"></i>transfer</a>
            <a href="#"><i class="fa-solid fa-code-merge"></i>org, chart</a>
            <a href="#"><i class="fa-solid fa-circle-user"></i>account settings</a>
        </div>
        <div class="login">
            <a href="login.html"><i class="fa-solid fa-right-to-bracket"></i><span>login</span></a>
        </div>
    </nav>

    <div class="content">
        <div class="content-header">
            <h1 class="heading">self assessment | deadline submit: 2022-07-15 23:00:00</h1>
        </div>
        <div class="content-body">
            <div class="per-ex">
                <div class="perform">
                    <h4>performance & development agreement</h4>
                    <p>last updated: 2022-07-10 12:50:00</p>
                </div>
                <button class="export">export PDF</button>
            </div>
            <div class="user-info">
                <p class="dark-60">tran chi dung - id: 1234</p>
                <p class="dark-60">software engineer - data department</p>
                <p class="green">Appraiser: john willy</p>
            </div>
            <div class="button">
                <a href="self_assess_n_goal.html" class="btn btn-submit">close form</a>
            </div>
        </div>

        <div class="goal-name-box">
            <div class="goal-name">
                <div class="goal-name-checkbox">
                    <input type="checkbox" name="" id="">
                    <h4>goal name</h4>
                    <p class="pending">status: pending</p>
                </div>
                <div class="time">
                    <p>due date: 2022-10-31</p>
                    <p>complete date: none</p>
                </div>
                <div class="func">
                    <button>see goal</button>
                    <button class="edit-error">edit goal</button>
                    <button class="js-del-re">delete goal</button>
                </div>
            </div>
            <div class="goal-name">
                <div class="goal-name-checkbox">
                    <input type="checkbox" name="" id="">
                    <h4>goal name</h4>
                    <p class="pending">status: pending</p>
                </div>
                <div class="time">
                    <p>due date: 2022-10-31</p>
                    <p>complete date: none</p>
                </div>
                <div class="func">
                    <button>see goal</button>
                    <button class="edit-error">edit goal</button>
                    <button class="js-del-re">delete goal</button>
                </div>
            </div>
            <div class="goal-name">
                <div class="goal-name-checkbox">
                    <input type="checkbox" name="" id="">
                    <h4>goal name</h4>
                    <p class="pending">status: pending</p>
                </div>
                <div class="time">
                    <p>due date: 2022-10-31</p>
                    <p>complete date: none</p>
                </div>
                <div class="func">
                    <button>see goal</button>
                    <button class="edit-error">edit goal</button>
                    <button class="js-del-re">delete goal</button>
                </div>
            </div>
            <div class="goal-name">
                <div class="goal-name-checkbox">
                    <input type="checkbox" name="" id="">
                    <h4>goal name</h4>
                    <p class="pending">status: pending</p>
                </div>
                <div class="time">
                    <p>due date: 2022-10-31</p>
                    <p>complete date: none</p>
                </div>
                <div class="func">
                    <button>see goal</button>
                    <button class="edit-error">edit goal</button>
                    <button class="js-del-re">delete goal</button>
                </div>
            </div>
            <div class="goal-name">
                <div class="goal-name-checkbox">
                    <input type="checkbox" name="" id="">
                    <h4>goal name</h4>
                    <p class="pending">status: pending</p>
                </div>
                <div class="time">
                    <p>due date: 2022-10-31</p>
                    <p>complete date: none</p>
                </div>
                <div class="func">
                    <button>see goal</button>
                    <button class="edit-error">edit goal</button>
                    <button class="js-del-re">delete goal</button>
                </div>
            </div>
            <div class="goal-name">
                <div class="goal-name-checkbox">
                    <input type="checkbox" name="" id="">
                    <h4>goal name</h4>
                    <p class="pending">status: pending</p>
                </div>
                <div class="time">
                    <p>due date: 2022-10-31</p>
                    <p>complete date: none</p>
                </div>
                <div class="func">
                    <button>see goal</button>
                    <button class="edit-error">edit goal</button>
                    <button class="js-del-re">delete goal</button>
                </div>
            </div>
        </div>
        <div class="toast">
            <i class="fa-solid fa-circle-check"></i>
            <p>export your PA to file PDF successfully!</p>
        </div>

        
    </div>
    <script>
        // Js for show toast
        const saves = document.querySelectorAll('.export');
        const toast = document.querySelector('.toast')
        function showSaveInform () {
            toast.classList.add('open');
        }
        
        for(const save of saves) {
            save.addEventListener('click', showSaveInform)
        }
    </script>
</body>