<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./asset/img/icon/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./asset/css/myFb.css">
    <link rel="stylesheet" href="./asset/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>My feedback</title>
</head>
<body>
    <nav> 
        <div class="logo">
            <img src="./asset/img/icon/logo.png" width="29px" height="25px" alt="">
            <img src="./asset/img/icon/heading_logo.png" height="25px" alt="">
        </div>  
        <div class="user">
            <img src="./asset/img/image/user.png" width="120px" height="120px" alt="">
            <p class="user-title">job title</p>
            <p class="user-id">employee ID</p>
        </div>
        <div class="main-func">
            <a href="index.html"><i class="fa-solid fa-house"></i>dash board</a>
            <a href="#"><i class="fa-solid fa-circle-info"></i>information</a>
            <a href="#"><i class="fa-solid fa-arrow-right-arrow-left"></i>transfer</a>
            <a href="#"><i class="fa-solid fa-code-merge"></i>org, chart</a>
            <a href="#"><i class="fa-solid fa-circle-user"></i>account settings</a>
        </div>
        <div class="login">
            <a href="login.html"><i class="fa-solid fa-right-to-bracket"></i><span>login</span></a>
        </div>
    </nav>
    <div class="content">
        <h2>my feedback</h2>
        <p class="sub-heading">search feedback information</p>
        <div class="my-fb-body">
            <div class="input-line">
                <div class="search">
                    <p>search</p>
                    <div class="search-line">
                        <input type="search" placeholder="search ID, employee..." name="" id="">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="year-respond">
                    <p>year responded</p>
                    <input type="date" id="" placeholder="All Year" class="date">
                </div>
                
                <div class="respond-dl">
                    <p>responded deadline by year</p>
                    <input type="date" id="" placeholder="All Year" class="date">
                </div>
            </div>

            <div class="show-status">
                <p>show feedback with status</p>
                <div class="squarecheck">
                    <label for="squarecheck1">all</label>
                    <input type="checkbox" name="check" id="squarecheck1">
                </div>
                <div class="squarecheck">
                    <label for="squarecheck2">not responding</label>
                    <input type="checkbox" name="check" id="squarecheck2">
                </div>
                <div class="squarecheck">
                    <label for="squarecheck3">responded</label>
                    <input type="checkbox" name="check" id="squarecheck3">
                </div>
            </div>

            <div class="func-button">
                <button class="btn">search</button>
                <button class="btn">reset all</button>
            </div>

            <div class="fb-box">
                <div class="fb-box-content">
                    <img src="./asset/img/image/avatar-fb.png" width="80px" height="80px" alt="">
                    <div class="content-body">
                        <div class="name">
                            <h4>nguyen trung hieu - 4719</h4>
                            <i class="fa-solid fa-pen feedback feedback-er"></i>
                        </div>
                        <div class="timeline">
                            <p class="blue">last responded on 2022-07-08</p>
                            <p class="green">appraiser: john willy - 1970</p>
                        </div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores quo dignissimos officiis fuga aliquid corporis, magni temporibus eligendi excepturi dolor quis, sapiente, adipisci recusandae aut repellat harum. Ex, nesciunt dolorum.</p>
                    </div>
                </div>
                <div class="fb-box-content">
                    <img src="./asset/img/image/avatar-fb.png" width="80px" height="80px" alt="">
                    <div class="content-body">
                        <div class="name">
                            <h4>nguyen trung hieu - 4719</h4>
                            <i class="fa-solid fa-pen feedback feedback-er"></i>
                        </div>
                        <div class="timeline">
                            <p class="blue">last responded on 2022-07-08</p>
                            <p class="green">appraiser: john willy - 1970</p>
                        </div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores quo dignissimos officiis fuga aliquid corporis, magni temporibus eligendi excepturi dolor quis, sapiente, adipisci recusandae aut repellat harum. Ex, nesciunt dolorum.</p>
                    </div>
                </div>
                <div class="fb-box-content">
                    <img src="./asset/img/image/avatar-fb.png" width="80px" height="80px" alt="">
                    <div class="content-body">
                        <div class="name">
                            <h4>nguyen trung hieu - 4719</h4>
                            <i class="fa-solid fa-pen feedback feedback-er"></i>
                        </div>
                        <div class="timeline">
                            <p class="blue">last responded on 2022-07-08</p>
                            <p class="green">appraiser: john willy - 1970</p>
                        </div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores quo dignissimos officiis fuga aliquid corporis, magni temporibus eligendi excepturi dolor quis, sapiente, adipisci recusandae aut repellat harum. Ex, nesciunt dolorum.</p>
                    </div>
                </div>
            </div>

            <!-- <div class="status-empty">
                <img src="/asset/img/image/oh crap.png" width="350" height="227" alt="oh crap">
                <p>you don't have any feedback for others.</p>
                <a href="PA_manage.html" class="btn">go back</a>
            </div> -->

            <!-- <div class="status-empty">
                <img src="/asset/img/image/nofound.png" width="350" height="227" alt="oh crap">
                <p>no results found</p>
            </div> -->
        </div>
        <!-- <button class="btn-back">see more feedback</button> -->
    </div>

    <div class="modal-feedback-er js-modal-feedback-er">
        <div class="modal-contain js-modal-contain-feedback-er">
            <div class="modal-close js-modal-close-feedback-er">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="modal-content">
                <i class="fa-regular fa-circle-xmark"></i>
                <p style="text-transform: none;">You cannot give feedback anymore because time for your feedback request is overdue</p>
            </div>
        </div>
    </div>

    <div class="modal-feedback-send js-modal-feedback-send">
        <div class="modal-contain js-modal-contain-feedback-send">
            <h1>give your feedback</h1>
            <div class="time">
                <p>last responded:</p>
                <p>deadline feedback 2022-07-15 23:00:00</p>
            </div>
            <div class="user">
                <h3 class="blue">tran chi minh <span>(1234)</span></h3>
                <p>feedback for</p>
                <h3 class="black">nguyen trung tin <span>(5009)</span></h3>
            </div>
            <div class="form">
                <p>give your feedback here</p>
                <textarea name="" id="" cols="30" rows="10" required placeholder="Type the feedback for the employee here"></textarea>
            </div>
            <div class="btn-send">
                <button type="submit" class="btn save">save</button>
                <p class="btn cancel">Cancel</p>
            </div>
        </div>
    </div>

    <div class="modal-fb-success js-modal-fb-success">
        <div class="modal-contain js-modal-contain-fb-success">
            <div class="modal-header js-modal-header-fb-success">
                <p class="modal--heading">give feedback successfully</p>
                <div class="modal-close js-modal-close-fb-success">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="modal-content">
                <p>congratulations! you've responded the feedback successfully!</p>
                <p>you can go back to main to see your feedback</p>
                <div class="button">
                    <a href="#" class="btn ok">OK</a>
                    <a href="giveFb_achieve.html" class="btn">go back to main</a>
                </div>
            </div>
        </div>
    </div>

    <script src="./asset/js/myFb.js"></script>
</body>