<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./asset/img/icon/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./asset/css/myPAgoal.css">
    <link rel="stylesheet" href="./asset/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Provide Feedback</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="./asset/img/icon/logo.png" width="29px" height="25px" alt="">
            <img src="./asset/img/icon/heading_logo.png" height="25px" alt="">
        </div>  
        <div class="user">
            <img src="./asset/img/image/user.png" width="120px" height="120px" alt="">
            <p class="user-title">job title</p>
            <p class="user-id">employee ID</p>
        </div>
        <div class="main-func">
            <a href="index.html"><i class="fa-solid fa-house"></i>dash board</a>
            <a href="#"><i class="fa-solid fa-circle-info"></i>information</a>
            <a href="#"><i class="fa-solid fa-arrow-right-arrow-left"></i>transfer</a>
            <a href="#"><i class="fa-solid fa-code-merge"></i>org, chart</a>
            <a href="#"><i class="fa-solid fa-circle-user"></i>account settings</a>
        </div>
        <div class="login">
            <a href="login.html"><i class="fa-solid fa-right-to-bracket"></i><span>login</span></a>
        </div>
    </nav>

    <div class="content">
        <h1>my PA goal history</h1>
        <p class="sub-heading">self assessment history</p>
        <div class="my-fb-body">
            <div class="input-line">
                <div class="year-respond">
                    <p>last update by from year</p>
                    <input type="date" id="" placeholder="All Year" class="date">
                </div>
                
                <div class="respond-dl">
                    <p>responded deadline for form by year</p>
                    <input type="date" id="" placeholder="All Year" class="date">
                </div>
            </div>

            <div class="show-status">
                <p>show feedback with status</p>
                <div class="squarecheck">
                    <label for="squarecheck1">all</label>
                    <input type="checkbox" name="check" id="squarecheck1">
                </div>
                <div class="squarecheck">
                    <label for="squarecheck2">accepted</label>
                    <input type="checkbox" name="check" id="squarecheck2">
                </div>
                <div class="squarecheck">
                    <label for="squarecheck3">rejected</label>
                    <input type="checkbox" name="check" id="squarecheck3">
                </div>
                <div class="squarecheck">
                    <label for="squarecheck4">cancelled</label>
                    <input type="checkbox" name="check" id="squarecheck4">
                </div>
                <div class="squarecheck">
                    <label for="squarecheck5">pendinng approval</label>
                    <input type="checkbox" name="check" id="squarecheck5">
                </div>
                <div class="squarecheck">
                    <label for="squarecheck6">draft</label>
                    <input type="checkbox" name="check" id="squarecheck6">
                </div>
            </div>

            <div class="func-button">
                <button class="btn">search</button>
                <button class="btn">reset all</button>
            </div>
        </div>
        <div class="pa-goal">
            <div class="header">
                <h4>history</h4>
                <div class="header-page">
                    <i class="fa-solid fa-angle-left"></i>
                    <p>
                        <span>1</span>/1
                    </p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <table id="history">
                <tr>
                    <th>PAGoalForm_id</th>
                    <th>total goals</th>
                    <th>deadline date</th>
                    <th>last updated date</th>
                    <th>status</th>
                    <th>manager ID</th>
                    <th>rejected reason (if any)</th>
                    <th>action</th>
                </tr>
                <!-- <tr>
                    <td>PAG_0120</td>
                    <td>10</td>
                    <td>2022-07-15 23:00:00</td>
                    <td>2022-07-15 23:00:00</td>
                    <td class="pending">pending</td>
                    <td>2345</td>
                    <td>none</td>
                    <td class="action-area" width="10%">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-pen js-fix"></i>
                    </td>
                </tr>
                <tr>
                    <td>PAG_0120</td>
                    <td>10</td>
                    <td>2022-07-15 23:00:00</td>
                    <td>2022-07-15 23:00:00</td>
                    <td class="accepted">accepted</td>
                    <td>2345</td>
                    <td>none</td>
                    <td class="action-area">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-pen js-fix"></i>
                    </td>
                </tr>
                <tr>
                    <td>PAG_0120</td>
                    <td>10</td>
                    <td>2022-07-15 23:00:00</td>
                    <td>2022-07-15 23:00:00</td>
                    <td class="rejected">rejected</td>
                    <td>2345</td>
                    <td>your goals aren't suitable</td>
                    <td class="action-area">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-pen js-fix"></i>
                    </td>
                </tr> -->
                <tr>
                    <td>PAG_0120</td>
                    <td>10</td>
                    <td>2022-07-15 23:00:00</td>
                    <td>2022-07-15 23:00:00</td>
                    <td class="pending">pending</td>
                    <td>2345</td>
                    <td>none</td>
                    <td class="action-area" width="10%">
                        <i class="fa-solid fa-eye"></i>
                        <a href="self_assess_n_goal.html">
                            <i class="fa-solid fa-pen js-fix"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>PAG_0120</td>
                    <td>10</td>
                    <td>2022-07-15 23:00:00</td>
                    <td>2022-07-15 23:00:00</td>
                    <td class="accepted">accepted</td>
                    <td>2345</td>
                    <td>none</td>
                    <td class="action-area">
                        <i class="fa-solid fa-eye"></i>
                        <a href="self_assess_n_goal.html">
                            <i class="fa-solid fa-pen js-fix"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>PAG_0120</td>
                    <td>10</td>
                    <td>2022-07-15 23:00:00</td>
                    <td>2022-07-15 23:00:00</td>
                    <td class="rejected">rejected</td>
                    <td>2345</td>
                    <td>your goals aren't suitable</td>
                    <td class="action-area">
                        <i class="fa-solid fa-eye"></i>
                        <a href="self_assess_n_goal.html">
                            <i class="fa-solid fa-pen js-fix"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- <div class="modal-error-fix js-modal-error-fix">
        <div class="modal-contain js-modal-contain">
                <div class="modal-close-fix js-modal-close_fix">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            <div class="modal-content">
                <i class="fa-regular fa-circle-xmark"></i>
                <p style="text-transform: none;">You cannot edit your PA Goal Form anymore because time for your Self-Assessment request is overdue</p>
            </div>
        </div>
    </div> -->



    <script src="/asset/js/myPAgoal.js"></script>
</body>
